<div class="container mt-5">
    <div class="row">
        <ul class="nav col">
            <li class="nav-item">
                <a href="#" class="text-secondary">
                    <fa-icon [icon]="faFilter" size="lg"></fa-icon>
                </a>
            </li>
        </ul>
        <ul class="nav col justify-content-end">
            <li class="nav-item mx-1">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ sortedBy }}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" (click)="sortByNewest.emit()">Latest</button>
                        <button class="dropdown-item" (click)="sortByPopular.emit()">Popular</button>
                        <button class="dropdown-item" (click)="sortByOldest.emit()">Oldest</button>
                    </div>
                </div>
            </li>
            <li class="nav-item mx-1">
                <a href="#" (click)="gridClicked.emit()" class="text-secondary">
                    <fa-icon [icon]="faTh" size="lg"></fa-icon>
                </a>
            </li>
            <li class="nav-item mx-1">
                <a href="#" (click)="listClicked.emit()" class="text-secondary">
                    <fa-icon [icon]="faList" size="lg"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</div>
<hr class="mt-0">