<div class="container mt-5">
    <div class="row">
        <ul class="nav col">
            <li class="nav-item">
                <a href="#" class="text-secondary">
                    <fa-icon [icon]="faFilter" size="lg"></fa-icon>
                </a>
            </li>
        </ul>
        <ul class="nav col justify-content-end">
            <li class="nav-item mx-1">
                <a href="#" class="text-secondary">
                    <fa-icon [icon]="faTh" size="lg"></fa-icon>
                </a>
            </li>
            <li class="nav-item mx-1">
                <a href="#" class="text-secondary">
                    <fa-icon [icon]="faList" size="lg"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</div>
<hr class="mt-0">