li > a > fa-icon:hover, li > a > fa-icon:focus, li > a > fa-icon:active {
    color: black !important;
}

li > a > fa-layers:hover, li > a > fa-layers:focus, li > a > fa-layers:active {
    color: black !important;
}

nav {
    background-color: white;
}